.profile__info {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 189px 1fr;
    grid-template-rows: min-content min-content;
    gap: 10px 14px; 
}

@media screen and (min-width: 900px) {
    .profile__info {
        max-width: 336px;
        grid-template-columns: 294px 1fr;
        grid-template-rows: min-content min-content;
    }
} 