.popup__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    width: 238px;
}

@media screen and (min-width: 900px) {
    .popup__title {
        width: 330px;
    }
}