<<<<<<< HEAD
.popup__signature {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin: 10px 0 0;
=======
.popup__signature {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin: 10px 0 0;
>>>>>>> c7baf28ad85f6f5949ab4e0648b2a5ad4030a529
}