<<<<<<< HEAD
.element__signature {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    max-width: 218px;
=======
.element__signature {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    max-width: 218px;
>>>>>>> c7baf28ad85f6f5949ab4e0648b2a5ad4030a529
}