.authForm__reg-signature {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 20px auto 0px;
  height: 17px;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .authForm__reg-signature {
    margin: 15px auto 0px;
  }
} 

.authForm__reg-signature:hover {
  opacity: 0.6;
}