<<<<<<< HEAD
.buttont_type_like-active {
  width: 22px;
  height: 19px;
  background: url(../../../images/like-icon/aktive.svg) no-repeat center;
}

.buttont_type_like-active:hover {
  opacity: 0.5;
=======
.buttont_type_like-active {
  width: 22px;
  height: 19px;
  background: url(../../../images/like-icon/aktive.svg) no-repeat center;
}

.buttont_type_like-active:hover {
  opacity: 0.5;
>>>>>>> c7baf28ad85f6f5949ab4e0648b2a5ad4030a529
}